<div class="wrapper">
  <h1>Edit Task</h1>

  <%= simple_form_for(@task) do |f| %>
    <%= f.input :title %>
    <%= f.input :details %>
    <%= f.input :completed %>
    <%= f.submit class: 'btn btn-success mb-3' %>
  <% end %>

  <%= link_to tasks_path do %>
    <i class="fas fa-undo-alt"></i>
  <% end %>
  <%= link_to "Back to list", tasks_path %>
</div>